   RewriteEngine On
   #RewriteCond %{HTTPS} off [OR] 
   #RewriteCond %{HTTP_HOST} !^www\. [OR]
   #RewriteCond %{HTTP_HOST} ^greenhandle\.in$ [NC]
   #RewriteRule ^ https://www.greenhandle.in%{REQUEST_URI} [R=301,L,NE]
   
   #RewriteCond %{HTTPS} on
   #RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

  # RewriteCond %{THE_REQUEST} ^[A-Z]+\ /index\.php(/[^\ ]*)?\ HTTP/ 
   #RewriteRule ^index\.php(/(.*))?$ greenhandle.in/$2 [R=301,L]
  # RewriteCond %{REQUEST_FILENAME} !-f
  # RewriteCond %{REQUEST_FILENAME} !-d
  # RewriteRule ^(.*)$ index.php/$1 [L]
  
   RewriteCond %{HTTP_HOST} !^www\. [OR]
   RewriteCond %{HTTP_HOST} ^greenhandle\.in$ [NC]
   #RewriteCond %{THE_REQUEST} ^[A-Z]+\ /index\.php(/[^\ ]*)?\ HTTP/ 
   #RewriteRule ^index\.php(/(.*))?$ https://greenhandle.in/$2 [R=301,L]
   RewriteRule ^ https://www.greenhandle.in%{REQUEST_URI} [R=301,L,NE]
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ index.php/$1 [L]
   
  